/* MovieSearch component styles */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.search-bar label {
  margin-right: 10px;
}

.search-bar select {
  margin-right: 10px;
}

.search-bar input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-bar button[type="submit"] {
  background-color: #1a73e8;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 50px;
}

.movie-item {
  position: relative;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.movie-item:hover {
  transform: scale(1.05);
}

.movie-item h2 {
  margin-top: 0;
}

.add-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.add-button:hover {
  color: #1a73e8;
}

.added {
  color: #1a73e8;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.popup h2 {
  margin-top: 0;
}

.popup p {
  margin-top: 10px;
  margin-bottom: 0;
}

.popup div {
  margin-top: 10px;
}

.popup div h4 {
  margin-top: 0;
}

.popup div div {
  margin-top: 5px;
}

.montage {
  position: relative;
  width: 650px;
  height: 650px;
  left: 50%;
  transform: translateX(-50%);
}

.montage-image {
  width: 150px;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    margin-top: 30px;
  }

  .search-bar input[type="text"] {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .search-bar button[type="submit"] {
    margin-top: 10px;
  }

  .movie-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .movie-item h2 {
    font-size: 20px;
  }

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  .popup .popup-content {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    position: relative;
  }

  .popup .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
}